.ui.feed {

.ui.feed {

.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.small.feed {
  font-size: 0.875em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.small.feed {
  font-size: 0.875em;
.ui.small.feed .label img {
  width: 2.5em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.small.feed {
  font-size: 0.875em;
.ui.small.feed .label img {
  width: 2.5em;
.ui.small.feed .label .icon {
  font-size: 1.25em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.small.feed {
  font-size: 0.875em;
.ui.small.feed .label img {
  width: 2.5em;
.ui.small.feed .label .icon {
  font-size: 1.25em;
  padding: 0.75em 0em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.small.feed {
  font-size: 0.875em;
.ui.small.feed .label img {
  width: 2.5em;
.ui.small.feed .label .icon {
  font-size: 1.25em;
  padding: 0.75em 0em;
.ui.small.feed .label + .content {
  padding: 0.5em 0.5em 0;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.small.feed {
  font-size: 0.875em;
.ui.small.feed .label img {
  width: 2.5em;
.ui.small.feed .label .icon {
  font-size: 1.25em;
  padding: 0.75em 0em;
.ui.small.feed .label + .content {
  padding: 0.5em 0.5em 0;
.ui.small.feed .content .extra.images img {
  width: 5em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.small.feed {
  font-size: 0.875em;
.ui.small.feed .label img {
  width: 2.5em;
.ui.small.feed .label .icon {
  font-size: 1.25em;
  padding: 0.75em 0em;
.ui.small.feed .label + .content {
  padding: 0.5em 0.5em 0;
.ui.small.feed .content .extra.images img {
  width: 5em;
.ui.small.feed .content .extra {
  margin: 0.5em 0em 0em;
.ui.feed {

.ui.feed a {
  cursor: pointer;
.ui.feed .extra {
@include box-sizing( border-box);@include box-sizing( border-box);@include box-sizing( border-box);  box-sizing: border-box;
.ui.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
.ui.feed .event:first-child {
  border-top: 0px;
.ui.feed .event:last-child {
  margin-bottom: 1em;
.ui.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
.ui.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0em;
.ui.feed .label img {
  border-radius: 50em;
.ui.feed .label + .content {
  padding: 0.75em 1em 0em;
.ui.feed .content {
  word-wrap: break-word;
.ui.feed .content .date {
  float: right;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.4);
.ui.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
.ui.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
.ui.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
.ui.feed .content .extra.images {
.ui.feed .content .extra.images img {
  width: 6em;
.ui.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
.ui.small.feed {
  font-size: 0.875em;
.ui.small.feed .label img {
  width: 2.5em;
.ui.small.feed .label .icon {
  font-size: 1.25em;
  padding: 0.75em 0em;
.ui.small.feed .label + .content {
  padding: 0.5em 0.5em 0;
.ui.small.feed .content .extra.images img {
  width: 5em;
.ui.small.feed .content .extra {
  margin: 0.5em 0em 0em;
.ui.small.feed .content .extra.text {
  padding: 0.25em 0.5em;
