.ui.video {
  position: relative;
  max-width: 100%;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video .play:hover {
  opacity: 1;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video .play:hover {
  opacity: 1;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video .play:hover {
  opacity: 1;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video .play:hover {
  opacity: 1;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video .play:hover {
  opacity: 1;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video .play:hover {
  opacity: 1;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video .play:hover {
  opacity: 1;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video .play:hover {
  opacity: 1;
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video .play:hover {
  opacity: 1;
.ui.video.active .placeholder {
.ui.video {
  position: relative;
  max-width: 100%;
.ui.video .placeholder {
  background-color: #333333;
.ui.video .play {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100%;
  height: 100%;
@include filter("progid:DXImageTransform.Microsoft.Alpha(Opacity=60)");  filter: alpha(opacity=60);
  opacity: 0.6;
@include transition( opacity 0.3s);@include transition( opacity 0.3s);  transition: opacity 0.3s;
.ui.video .play.icon:before {
  top: 50%;
  left: 50%;
  z-index: 11;
  font-size: 6rem;
  margin: -3rem 0em 0em -3rem;
  color: #FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: block;
.ui.video .embed {
  display: none;
.ui.video .play:hover {
  opacity: 1;
.ui.video.active .placeholder {
.ui.video.active .embed {
